<% @rss = url_for :controller => "test_runs", :action => "index", :format => "rss" %>


<div class="padded">Latest Build Results: 
<% if job_running?(@job) %>
 <span class="test_run">
            Currently running <%= link_to "job #{@job.id}", 
                :controller => :jobs, :action => :show, :id => @job.id %>
 </span>
 <% else %>
 <% if @test %>
 <% if @test.success %>
 <span class="test_success" %>
   Build of <%=h @test.revision.identifier %> was 
   <%= link_to "Successful", @test %>
 </span>
 <% else %>
 <span class="test_fail" %>
   Build of <%=h @test.revision.identifier %> 
   <%= link_to "Failed", @test %>
 </span>
 <% end %>
 <% end %>
 <% end %>   
 </div>

 <h1>Recent Builds</h1>
 <table class="builds" cellspacing="0">
   <% @revs.each do |rev| %>
   <tr class="revision">
     <td><%=h rev.repo.name %></td>
     <td><%= link_to rev.identifier, rev %></td>
     <td colspan="4"><%=h rev.developer %> - <%=h rev.message %></td>
   </tr>

   <% rev.test_runs.reverse.each do |test| %>
   <%= state_column(test) %>
  <td width="1px"><%= link_to "Run #{test.id}", test %></td>
  <td width="1px"><%= "#{test.passed} / #{test.skipped} / #{test.failed}" %></td>
  <td>Run Duration: <%= test.runtime %> s</td>
  <td></td>
  </tr>
  <% end %>
  
  <% end %>
  </table>
