<h1>Jobs</h1>

<table>
<tr><th>command</th>
  <th>state</th>
  <th>submit time</th>
  <th>start time</th>
  <th>finish
    time</th><th>exit</th></tr>
<% @jobs.each do |job| %>
<tr>
  <td><%= link_to  h(job.command), job %></td>
  <td><%=h job.state %></td>
  <td><%=h job.submitted_at %></td>
  <td><%=h job.started_at %></td>
  <td><%=h job.finished_at %></td>
  <td><%=h job.exit_status %></td>
</tr>
<% end %>
</table>
