<h2>Recent Revisions</h2>

<table>
<tr>
<th>Repo</th>
<th>Revision</th>
<th colspan="3">Test Runs (Passed/Skipped/Failed)</th>
</tr>
<% @revs.each do |rev| %>
<tr>
  <td><%=h rev.repo.name %></td>
  <td><%=h rev.identifier %></td>

  <% rev.test_runs.each do |test| %>
  <td class="success_<%=h test.success %>">
     <%=h test.passed %> /
     <%=h test.skipped %> /
     <%=h test.failed %> 
  </td>
  <% end %>
</tr>

<% end %>
</table>
