<% @rss = url_for :controller => "test_runs", :action => "index", :format => "rss" %>

<% @repos.each do |repo| %>

<h1>Recent Revisions for <%=h repo.name %></h1>
   <% @last = nil %>
 <table class="revisions" cellspacing="0">
   <% repo.revisions.find(:all, :limit => 40, :order => "time desc").each do |rev| %>
   <% if not @last or @last.time.to_date != rev.time.to_date %>
   <tr class="day"><td colspan="6"><%=h rev.time.strftime("%A %B %d, %Y") %></td></tr>
   <% @last = rev %>
   <% end %>
   <tr class="revision">
     <td><%=h rev.repo.name %></td>
     <td><%= link_to rev.identifier, rev %></td>
     <td><%=h rev.developer %></td>
     <td colspan="3"><%= textilize_without_paragraph(h(rev.message))
%></td>
   </tr>

   <% rev.test_runs.reverse.each do |test| %>
   <%= state_column(test) %>
  <td width="1px"><%= link_to "Run #{test.id}", test %></td>
  <td width="1px"><%= "#{test.passed} / #{test.skipped} / #{test.failed}" %></td>
  <td>Run Duration: <%= test.runtime %> s</td>
  <td></td>
  </tr>
  <% end %>
<% end %>
</table>
<% end %>
