<h1>Test Run <%=h @test.id %></h1>
<table class="testrun">
  <tr>
    <td>Repository</td><td><%=h @test.revision.repo.name %></td>
  </tr>
  <tr>
    <td>Repository Version</td><td>
      <%= link_to @test.revision.identifier, @test.revision %></td>
  </tr>
  <tr>
    <td>Author</td>
    <td><%=h @test.revision.developer %></td>
  </tr>
  <tr>
    <td>Commit Message</td>
    <td><%= textilize_without_paragraph(h(@test.revision.message)) %></td>
  </tr>
</table>
<h2>Results</h2>
<table>
  <tr><th>Assembly Name</th><th>Passed</th><th>Skipped</th><th>Failed</th></tr>
  <% @test.details.sort_by {|d| d["name"]}.each do |detail| %>
  <% if detail["failures"].to_i > 0 %>
  <tr class="result_fail">
    <% else %>
    <tr>
      <% end %>
  <td><%=h detail["name"] %></td>
  <td><%= detail["total"].to_i -  detail["failures"].to_i %></td>
  <td><%= detail["not-run"] %></td>
  <td class="failed"><%= detail["failures"] %></td>
</tr>
<% end %> 
<tr><td><strong>Total</strong></td>
  <td><%= @test.passed %></td>
  <td><%= @test.skipped %></td>
  <td><%= @test.failed %></td>
</table>

<% @cores = list_cores(@test.revision) %>
<% if @cores.size > 0 %>
<h2>Core Dumps</h2>
<ul>
<% @cores.each do |core| %>
<li><%= link_to core, :controller => :cores, :action => :show, 
:id => @test.revision.id, :corefile => core %></li>
<% end %>
</ul>
<% end %>

<h2>Raw Log Output (stdout &amp; stderr)</h2>
<pre><%=h @test.log %></pre>

<h2>Raw Test Output</h2>
<pre><%= h(@test.rawtest).gsub(/\&lt\;failure/, "<b><font color='red'>&lt;failure").gsub(/\/failure&gt;/, "/failure&gt;</font></b>") %></pre>
