<h1>Test Run <%=h @test.id %></h1>
<table class="testrun">
  <tr>
    <td>Repository</td><td><%=h @test.revision.repo.name %></td>
  </tr>
  <tr>
    <td>Repository Version</td><td>
      <%= link_to @test.revision.identifier, @test.revision %></td>
  </tr>
  <tr>
    <td>Author</td>
    <td><%=h @test.revision.developer %></td>
  </tr>
  <tr>
    <td>Commit Message</td>
    <td><%= textilize(h(@test.revision.message)) %></td>
  </tr>
</table>
<h2>Results</h2>
<table>
  
<tr><td><strong>Total</strong></td>
  <td><%= @test.passed %></td>
  <td><%= @test.skipped %></td>
  <td><%= @test.failed %></td>
</table>
  
<!--   <tr> -->
<!--     <td>Results (P/S/F)</td> -->
<!--     <td class="success_<%=h @test.success %>"> -->
<!--       <%=h @test.passed %> / -->
<!--       <%=h @test.skipped %> / -->
<!--       <%=h @test.failed %>  -->
<!--     </td> -->
<!--   </tr> -->
<!-- </table> -->

<% job = @test.job %>
<% if job != nil %>
<h2>Stderr From Job</h2>
<pre><%=h job.stderr %></pre>
<% end %>

<h2>Raw Log Output</h2>
<pre><%=h @test.log %></pre>

<h2>Raw Test Output</h2>
<pre><%=h @test.rawtest %></pre>
