<h1>Test Run <%=h @test.id %></h1>
<table class="testrun">
  <tr>
    <td>Repository</td><td><%=h @test.revision.repo.name %></td>
  </tr>
  <tr>
    <td>Repository Version</td><td>
      <%= link_to @test.revision.identifier, @test.revision %></td>
  </tr>
  <tr>
    <td>Author</td>
    <td><%=h @test.revision.developer %></td>
  </tr>
  <tr>
    <td>Commit Message</td>
    <td><%= textilize_without_paragraph(h(@test.revision.message)) %></td>
  </tr>
</table>
<h2>Results</h2>
<table>
  <tr><th>Assembly Name</th><th>Passed</th><th>Skipped</th><th>Failed</th></tr>
  <% @test.details.sort_by {|d| d["name"]}.each do |detail| %>
  <% if detail["failures"].to_i > 0 %>
  <tr class="result_fail">
    <% else %>
    <tr>
      <% end %>
  <td><%=h detail["name"] %></td>
  <td><%= detail["total"].to_i -  detail["failures"].to_i %></td>
  <td><%= detail["not-run"] %></td>
  <td class="failed"><%= detail["failures"] %></td>
</tr>
<% end %> 
<tr><td><strong>Total</strong></td>
  <td><%= @test.passed %></td>
  <td><%= @test.skipped %></td>
  <td><%= @test.failed %></td>
</table>
  
<!--   <tr> -->
<!--     <td>Results (P/S/F)</td> -->
<!--     <td class="success_<%=h @test.success %>"> -->
<!--       <%=h @test.passed %> / -->
<!--       <%=h @test.skipped %> / -->
<!--       <%=h @test.failed %>  -->
<!--     </td> -->
<!--   </tr> -->
<!-- </table> -->

<% job = @test.job %>
<% if job != nil %>
<h2>Stderr From Job</h2>
<pre><%=h job.stderr %></pre>
<% end %>

<h2>Raw Log Output</h2>
<pre><%=h @test.log %></pre>

<h2>Raw Test Output</h2>
<pre><%= h(@test.rawtest).gsub(/(\&lt\;failure.*?\/failure&gt;)/m, "<b>\1</b>") %></pre>
